@{
    Layout = null;
    ViewData["Title"] = "Print Damaged Report";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Print Damaged Report</title>
</head>
<body>
    <h1>Print layout coming soon...</h1>
</body>
</html>